*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

body {
  font-family: 'Inter', sans-serif;
  background-color: #FBFCFF;
  box-sizing: border-box; }

.site-container {
  overflow: hidden; }

/* .header {
    text-align: center;
} */
/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////HEADER-SECTION////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* .site-container {
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
} */
.header {
  padding-top: 1.6rem; }

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.container {
  max-width: 120rem;
  margin: 0 auto;
  /* position: relative; */ }

.list {
  display: flex;
  list-style: none;
  text-decoration: none; }

.item {
  margin-left: 3.2rem; }

.link {
  text-decoration: none;
  font-family: Inter;
  font-size: 1.5rem;
  list-style: none;
  color: rgba(255, 255, 255, 0.5);
  transition: all 0.2s;
  display: flex;
  align-items: center;
  display: inline-block; }

.link--active {
  color: #fff; }

.link:hover {
  color: #fff; }

.header__cta {
  display: flex;
  outline: none; }

.cta__link {
  position: relative;
  text-decoration: none;
  outline: none;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 1.3rem;
  line-height: 1.8rem;
  /* identical to box height */
  text-align: center;
  /* Solid Black */
  color: #262B35;
  margin-right: 2.4rem; }

.cta__link-dash::after {
  content: "";
  position: absolute;
  background-color: #D4D4D4;
  height: 120%;
  width: 0.2rem;
  right: -2rem; }

.cta__link--green {
  color: #1ECE7A;
  margin-left: 2rem; }

.main::before {
  content: "";
  position: absolute;
  width: 100rem;
  height: 84rem;
  background-color: #1C57C9;
  top: 0;
  left: 0;
  border-radius: 0 0 50rem 0;
  z-index: -10; }

/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////HOME-SECTION////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.home {
  position: relative;
  height: 88rem; }

.home__heading {
  max-width: 56rem;
  margin-top: 12.1rem;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 5.5rem;
  line-height: 7.2rem;
  /* or 131% */
  letter-spacing: -0.02em;
  /* Pure White */
  color: #fff; }

.home__text {
  margin-top: 4.8rem;
  max-width: 56rem;
  /* Hero / Paragraph */
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  line-height: 160%;
  /* or 32px */
  /* Pure White */
  color: #FFFFFF; }

.span--green {
  color: #1ECE7A; }

.home__cta {
  margin-top: 4.8rem; }

.home__btn {
  font-size: 1.5rem;
  border: none;
  border-radius: 3px;
  color: #fff;
  padding: 1.3rem 2.15rem; }

.home__btn--green {
  background-color: #1ECE7A;
  border: 2px solid #1ECE7A; }

.home__btn--white {
  background-color: transparent;
  border: 2px solid #fff; }

.ml-small {
  margin-left: 1.6rem; }

.home__img {
  display: inline-block;
  position: absolute;
  filter: drop-shadow(0px 16px 48px rgba(0, 0, 0, 0.16)); }

.home__img-large {
  top: -10rem;
  right: 7.36rem;
  z-index: 1; }

.home__img-small {
  right: 0;
  top: 34rem;
  z-index: 2; }

.home__img-dots {
  left: 0;
  bottom: 21.8rem;
  z-index: 10; }

/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////FEATURES-SECTION////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.features {
  height: 120rem; }

.features__text-entry {
  /* Hero / Caption */
  max-width: 96rem;
  font-family: Inter;
  font-style: italic;
  font-weight: 400;
  font-size: 2rem;
  line-height: 160%;
  /* or 32px */
  letter-spacing: 0.01em;
  /* Gray */
  color: #606C84; }

.features__main {
  margin-top: 16rem;
  display: flex; }

.features__main__ill {
  margin-left: -5rem;
  margin-top: 6.6rem; }

.heading-3 {
  /* Section / Subtitle */
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 140%;
  /* identical to box height, or 21px */
  letter-spacing: 0.6em;
  text-transform: uppercase;
  /* Primary Blue */
  color: #1C57C9; }

.heading-2 {
  /* Section / Title */
  margin-top: 1.6rem;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 4.2rem;
  line-height: 140%;
  /* identical to box height, or 59px */
  letter-spacing: -0.02em;
  /* Solid Black */
  color: #262B35; }

.features__main-info__text {
  max-width: 60rem;
  margin-top: 1rem;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 1.8rem;
  line-height: 160%;
  /* or 29px */
  /* Gray */
  color: #606C84; }

.features__main-info {
  padding: 3rem; }

.heading-f4 {
  margin-top: 2rem;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 2.4rem;
  /* identical to box height, or 133% */
  /* Solid Black */
  color: #262B35; }

.grid-container__text {
  margin-top: 1rem;
  max-width: 26rem;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 160%;
  /* or 24px */
  /* Gray */
  color: #606C84; }

.grid-container {
  margin-top: 6.4rem;
  display: flex;
  flex-wrap: wrap;
  gap: 5rem; }

.features__img-dots {
  position: absolute;
  right: 0;
  top: 80rem; }

/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////UPDATE-SECTION////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.update {
  position: relative;
  height: 96rem; }

.update .container {
  display: flex; }

.update__art {
  flex-basis: 50%;
  position: relative; }

.update__heading-2 {
  max-width: 44rem; }

.update__img {
  position: absolute;
  display: inline-block; }

.update__img-1 {
  left: -12rem;
  top: 21rem;
  width: 34rem;
  height: 24rem;
  filter: drop-shadow(0px 16px 48px rgba(0, 0, 0, 0.16));
  z-index: 2;
  transform: scale(1.3); }

.update__img-2 {
  left: 24rem;
  top: 26rem;
  width: 37.4rem;
  height: 44rem;
  filter: drop-shadow(0px 16px 48px rgba(0, 0, 0, 0.16));
  z-index: 3;
  transform: scale(1.1); }

.update__img-3 {
  left: -11rem;
  top: 47rem;
  width: 44rem;
  height: 40rem;
  filter: drop-shadow(0px 16px 48px rgba(0, 0, 0, 0.16));
  z-index: 4;
  transform: scale(1.2); }

.update__info {
  flex-basis: 50%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 6.4rem;
  margin-right: -1.6rem;
  display: grid;
  grid-template-rows: repeat(4, minmax(min-content, max-content));
  grid-template-columns: repeat(2, minmax(min-content, max-content));
  grid-column-gap: 2.5rem;
  grid-row-gap: 4rem; }

.update__info::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  background-color: #1C57C9;
  border-radius: 0 0 0 45%;
  width: 76rem;
  height: 110.3rem;
  z-index: -10; }

.update__info__grid-item {
  display: flex;
  flex-direction: column; }

.update__info__icon {
  display: inline-block; }

.update__heading-4 {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 2.4rem;
  /* identical to box height, or 133% */
  /* Pure White */
  color: #FFFFFF; }

.update__info__grid-item__text {
  margin-top: 1rem;
  max-width: 35.2rem;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 160%;
  /* or 24px */
  /* Pure White */
  color: #FFFFFF; }

.update__dots-1 {
  position: absolute;
  left: 50rem;
  top: 15rem; }

.update__dots-2 {
  position: absolute;
  left: 0;
  top: 84rem; }

.update__dots-3 {
  position: absolute;
  left: 18rem;
  top: 84rem; }

.update__dots-4 {
  position: absolute;
  right: 0;
  top: 93.7rem; }

/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////SERVICES-SECTION////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.same-backg {
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) -9.97%, #ECF0F7 100%); }

.services {
  height: 144rem;
  margin-top: 40rem; }

.services__heading-3,
.services__heading-2,
.services__text {
  text-align: center; }

.services__text {
  margin-top: 2.4rem;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 1.8rem;
  line-height: 160%;
  /* identical to box height, or 29px */
  text-align: center;
  /* Gray */
  color: #606C84; }

.services__illustration {
  margin: 9.3rem auto;
  display: flex;
  justify-content: center;
  align-items: center; }

.heading-4 {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 2.4rem;
  /* or 133% */
  /* Solid Black */
  color: #262B35; }

.heading-number1 {
  max-width: 15.3rem; }

.heading-number2 {
  max-width: 18.4rem; }

.heading-number3 {
  max-width: 17.2rem; }

.heading-number4 {
  max-width: 19.9rem; }

.heading-number5 {
  max-width: 15.1rem; }

.heading-number6 {
  max-width: 16.1rem; }

.heading-number7 {
  max-width: 18.6rem; }

.heading-number8 {
  max-width: 11rem; }

.heading-number9 {
  max-width: 11.5rem; }

.services__grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, max-content));
  grid-gap: 2rem;
  padding: 4rem; }

.grid-item {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 1.6rem;
  padding: 2rem 5rem;
  box-shadow: 0px 0.6rem 4.8rem rgba(0, 0, 0, 0.1); }

.grid-item__icon {
  margin-right: 5rem;
  margin-left: -2.5rem; }

/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////TESTIMONIAL-SECTION////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.testimonials {
  margin-top: 9.6rem;
  height: 64rem; }

.test__heading-3,
.test__heading-2 {
  text-align: center; }

.test__heading-2 {
  max-width: 53.6rem;
  margin: 1.7rem auto; }

.reviews {
  margin-top: 8rem;
  display: flex;
  justify-content: space-around;
  align-items: center; }

.review-1 {
  position: relative;
  width: 54rem;
  height: 26rem;
  background-color: #fff;
  box-shadow: 0px 2rem 4.8rem rgba(0, 0, 0, 0.06);
  border-radius: 2.4rem;
  padding: 3rem; }

.review-1::before {
  content: "";
  position: absolute;
  background-image: url(../img/testimonials-section/ebalo-1.png);
  height: 7.4rem;
  width: 7.4rem;
  right: -2rem;
  top: -2rem; }

.review-1::after {
  content: "\201c";
  font-size: 25rem;
  font-family: sans-serif;
  color: #eff0f3;
  position: absolute;
  bottom: 2rem;
  right: 4rem;
  transform: rotate(-180deg); }

.review-2 {
  position: relative;
  width: 54rem;
  height: 32rem;
  padding: 3rem;
  background-color: #fff;
  border-radius: 2.4rem;
  box-shadow: 0 2rem 4.8rem rgba(0, 0, 0, 0.06); }

.review-2::before {
  content: "";
  position: absolute;
  background-image: url(../img/testimonials-section/ebalo-2.png);
  width: 7.4rem;
  height: 7.4rem;
  top: -2rem;
  right: -2rem; }

.review-2::after {
  content: "\201c";
  font-size: 25rem;
  font-family: sans-serif;
  color: #eff0f3;
  position: absolute;
  bottom: 2rem;
  right: 4rem;
  transform: rotate(-180deg); }

.reviewa__comment {
  max-width: 42rem;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  line-height: 160%;
  /* or 32px */
  /* Solid Black */
  color: #262B35; }

.reviews__heading-4 {
  margin-top: 4.2rem;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 2.4rem;
  /* identical to box height, or 133% */
  /* Solid Black */
  color: #262B35; }

.reviews__job {
  margin-top: 1.1rem;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 160%;
  /* identical to box height, or 24px */
  /* Gray */
  color: #606C84; }

/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////CONTACT-SECTION////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.contact .container {
  display: flex;
  margin-top: 18.2rem;
  height: 88rem; }

.contact__left-side {
  flex-basis: 45%; }

.contact__left-right {
  flex-basis: 55%; }

.contact__heading-2 {
  margin-top: 1.7rem;
  max-width: 43rem;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 4.2rem;
  line-height: 140%;
  /* or 59px */
  letter-spacing: -0.02em;
  /* Solid Black */
  color: #262B35; }

.contact__illustration {
  margin-top: 8.8rem; }

.form {
  max-width: 44rem;
  width: 100%;
  padding: 2.5rem 3rem; }

.form form {
  display: flex;
  flex-wrap: wrap; }

input,
select {
  padding: 1rem 2rem;
  font-size: 1.6rem;
  width: 42rem;
  height: 4.4rem;
  border-radius: 0.4rem;
  outline: none;
  border: 1px solid #ccc; }

.input-box {
  margin: 1.6rem; }

.input-box .label {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 1.9rem;
  /* Solid Black */
  color: #262B35; }

#message {
  height: 9.6rem;
  padding: 0 2rem; }

.contact__btn--green {
  font-size: 1.6rem;
  padding: 1.3rem 3.7rem;
  background-color: #1ECE7A;
  border: none;
  outline: none;
  border-radius: 0.3rem;
  color: #fff; }

/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////FOOTER-SECTION////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.footer .container {
  display: flex; }

.col {
  margin: 0 1rem; }

.footer__heading-5 {
  margin-top: 5rem;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 2rem;
  line-height: 150%;
  /* or 30px */
  /* Solid Black */
  color: #262B35; }

.col-1 {
  max-width: 40rem;
  max-height: 36rem;
  margin-right: 7.6rem; }

.col-1__p {
  max-width: 36rem;
  font-family: Inter;
  font-style: normal;
  font-size: 1.5rem;
  line-height: 150%;
  /* or 30px */
  /* Solid Black */
  color: #262B35; }

.col-2 {
  max-width: 24rem;
  max-height: 36rem; }

.col-3 {
  max-width: 22rem;
  max-height: 24.7rem; }

.footer__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -1rem; }

.footer__item {
  width: 100%;
  margin: 1rem; }

.footer__list .footer__item .footer__link {
  text-decoration: none;
  font-family: Inter;
  font-size: 1.6rem;
  list-style: none;
  color: #606C84;
  transition: all 0.2s;
  display: flex;
  align-items: center;
  display: inline-block; }

.facebook {
  position: relative; }

.footer__social {
  display: flex; }

.social__item {
  display: flex;
  align-items: center;
  /* flex-direction: column; */
  /* position: relative; */ }

.social__item::before {
  display: block;
  content: "";
  background-image: url(../img/footer-section/ico-fb.svg);
  background-repeat: no-repeat;
  /* position: absolute; */
  width: 3rem;
  height: 2.7rem;
  /* top: 50%;
    left: 0; */
  /* transform: translateY(-50%); */
  margin-right: 2rem; }

.social__item:nth-child(2)::before {
  background-image: url(../img/footer-section/ic-twitter.svg); }

.social__item:nth-child(3)::before {
  background-image: url(../img/footer-section/ic-instagram.svg); }

.facebook {
  display: block; }

/* 
.facebook,
.twitter,
.instagram {
    margin-left: 40px;
    display: block;
} */
.copyright {
  margin-top: 10rem;
  margin-bottom: 3rem;
  text-align: center;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  line-height: 150%;
  /* identical to box height, or 30px */
  /* Gray */
  color: #606C84; }

@media only screen and (max-width: 37.5rem) {
  html {
    font-size: 50%; }
  /* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////HEADER-SECTION////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
  .site-container {
    max-width: 375px;
    margin: 0 auto;
    position: relative;
    overflow: hidden; }
  .header {
    padding: 34px 20px 0 20px; }
  .header .container {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  /* .container {
    max-width: 1200px;
    margin: 0 auto;
} */
  .list {
    /* temporary */
    display: none;
    display: flex;
    list-style: none;
    text-decoration: none; }
  .item {
    /* temporary */
    display: none;
    margin-left: 2rem; }
  .link {
    display: flex;
    /* temporary */
    display: none;
    text-decoration: none;
    font-family: Inter;
    list-style: none;
    color: rgba(255, 255, 255, 0.5);
    transition: all 0.2s;
    align-items: center;
    display: inline-block; }
  .link--active {
    color: #fff; }
  .link:hover {
    color: #fff; }
  .main::before {
    content: "";
    position: absolute;
    width: 375px;
    height: 740px;
    background-color: #1C57C9;
    top: 0;
    left: 0;
    border-radius: 0 0 200px 0;
    z-index: -10; }
  /* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////HOME-SECTION////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
  .home {
    height: 750px; }
  .home__heading {
    margin-top: 64px;
    text-align: center;
    max-width: 350 px;
    /* Hero / Title */
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    line-height: 140%;
    /* or 59px */
    text-align: center;
    letter-spacing: -0.02em;
    color: #FFFFFF; }
  .home__heading br {
    display: none; }
  .home__text {
    margin-top: 20px;
    text-align: center;
    max-width: 335px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 160%;
    /* or 29px */
    text-align: center;
    /* Pure White */
    color: #FFFFFF; }
  .header__cta {
    display: flex;
    /* temporary */
    display: none;
    outline: none; }
  .span--green {
    color: #1ECE7A; }
  .cta__link {
    /* temporary */
    display: none;
    text-decoration: none;
    outline: none;
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 16px;
    /* identical to box height */
    text-align: center;
    /* Solid Black */
    color: #262B35;
    margin-right: 1.5rem; }
  .cta__link--green {
    color: #1ECE7A; }
  .home .container {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .home__cta {
    margin-top: 30px;
    justify-content: center; }
  .home__btn {
    border-radius: 3px;
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    /* Pure White */
    color: #FFFFFF; }
  .home__btn--green {
    background-color: #1ECE7A;
    border: 2px solid #1ECE7A; }
  .home__btn--white {
    background-color: transparent;
    border: 2px solid #fff; }
  .ml-small {
    margin-left: 16px; }
  .home__img {
    display: inline-block;
    filter: drop-shadow(0px 16px 48px rgba(0, 0, 0, 0.16)); }
  .home__img-large {
    /* temporary */
    display: none;
    top: 5.8rem;
    right: 4.6rem;
    z-index: 1; }
  .home__img-small {
    /* temporary */
    display: none;
    right: 0;
    top: 520px;
    z-index: 2; }
  .home__img-dots {
    position: absolute;
    left: -92.14px;
    bottom: 40px; }
  /* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////FEATURES-SECTION////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
  .features {
    height: auto; }
  .features .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; }
  .features__text-entry {
    max-width: 320px;
    /* Hero / Caption */
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 160%;
    /* Gray */
    color: #606C84; }
  .features__main {
    margin-top: 10rem;
    display: flex;
    flex-direction: column; }
  .features__main__ill {
    margin-top: -30px;
    margin-left: 0;
    max-width: 100%; }
  .heading-3 {
    /* Section / Subtitle */
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 140%;
    /* identical to box height, or 21px */
    letter-spacing: 0.6em;
    text-transform: uppercase;
    /* Primary Blue */
    color: #1C57C9; }
  .heading-2 {
    /* Section / Title */
    margin-top: 16px;
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 140%;
    /* identical to box height, or 59px */
    letter-spacing: -0.02em;
    /* Solid Black */
    color: #262B35; }
  .features__main-info__text {
    max-width: 600px;
    margin-top: 1rem;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 160%;
    /* or 29px */
    /* Gray */
    color: #606C84; }
  .features__main-info {
    padding: 30px; }
  .heading-f4 {
    margin-top: 20px;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    /* identical to box height, or 133% */
    /* Solid Black */
    color: #262B35; }
  .grid-container__text {
    margin-top: 10px;
    max-width: 260px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 160%;
    /* or 24px */
    /* Gray */
    color: #606C84; }
  .grid-container {
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px; }
  .features__img-dots {
    display: none; }
  /* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////UPDATE-SECTION////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
  .update {
    position: relative;
    height: auto;
    padding-top: 200px; }
  .update .container {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center; }
  .update__art {
    flex-basis: 50%;
    position: relative; }
  .update__heading-2 {
    max-width: 320px; }
  .update__img {
    position: absolute;
    display: block; }
  .update__img-1 {
    left: -22.5px;
    top: 150px;
    width: 190px;
    height: 134px;
    filter: drop-shadow(0px 16px 48px rgba(0, 0, 0, 0.16));
    z-index: 2; }
  .update__img-2 {
    right: -52.5px;
    top: 180px;
    width: 209px;
    height: 246px;
    filter: drop-shadow(0px 16px 48px rgba(0, 0, 0, 0.16));
    z-index: 3; }
  .update__img-3 {
    left: -22.5px;
    top: 270px;
    width: 246px;
    height: 223px;
    filter: drop-shadow(0px 16px 48px rgba(0, 0, 0, 0.16));
    z-index: 4; }
  .update__info {
    flex-basis: 100%;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin-top: 36rem;
    margin-right: 0;
    padding: 200px 0;
    display: grid;
    grid-template-rows: repeat(4, minmax(min-content, max-content));
    grid-template-columns: repeat(1, minmax(min-content, max-content));
    grid-column-gap: 0;
    grid-row-gap: 30px; }
  .update__info::after {
    content: "";
    position: absolute;
    top: 550px;
    right: 0;
    background-color: #1C57C9;
    border-radius: 0 0 0 200px;
    width: 380px;
    height: 1420px;
    z-index: -10; }
  .update__info__icon {
    justify-self: center;
    align-self: start; }
  .update__heading-4 {
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    /* identical to box height, or 133% */
    /* Pure White */
    color: #FFFFFF; }
  .update__info__grid-item__text {
    margin-top: 10px;
    max-width: 352px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 160%;
    /* or 24px */
    /* Pure White */
    color: #FFFFFF; }
  .update__dots-1 {
    position: absolute;
    display: none;
    left: 500px;
    top: 15 0px; }
  .update__dots-2 {
    position: absolute;
    display: none;
    left: 0;
    top: 760px; }
  .update__dots-3 {
    position: absolute;
    display: none;
    left: 180px;
    top: 760px; }
  .update__dots-4 {
    position: absolute;
    display: none;
    right: 0;
    top: 937px; }
  /* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////SERVICES-SECTION////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
  .same-backg {
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) -9.97%, #ECF0F7 100%); }
  .services {
    height: auto;
    margin-top: 15rem; }
  .services .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; }
  .services__heading-3,
  .services__heading-2,
  .services__text {
    text-align: center; }
  .services__text {
    margin-top: 24px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 160%;
    /* identical to box height, or 29px */
    text-align: center;
    /* Gray */
    color: #606C84; }
  .services__illustration {
    width: 100%;
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center; }
  .services__img {
    padding: 20px;
    width: 100%; }
  .heading-4 {
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    /* or 133% */
    /* Solid Black */
    color: #262B35; }
  .heading-number1 {
    max-width: 153px; }
  .heading-number2 {
    max-width: 184px; }
  .heading-number3 {
    max-width: 172px; }
  .heading-number4 {
    max-width: 199px; }
  .heading-number5 {
    max-width: 151px; }
  .heading-number6 {
    max-width: 161px; }
  .heading-number7 {
    max-width: 186px; }
  .heading-number8 {
    max-width: 110px; }
  .heading-number9 {
    max-width: 115px; }
  .services__grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, max-content));
    grid-gap: 20px;
    padding: 40px; }
  .grid-item {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 16px;
    padding: 20px 50px;
    box-shadow: 0px 6px 48px rgba(0, 0, 0, 0.1); }
  .grid-item__icon {
    margin-right: 50px;
    margin-left: -25px; }
  /* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////TESTIMONIAL-SECTION////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
  .testimonials {
    margin-top: 250px;
    height: auto; }
  .testimonials .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; }
  .test__heading-2 {
    max-width: 536px;
    margin: 17px auto; }
  .reviews {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; }
  .review-1 {
    position: relative;
    width: 320px;
    height: 300px;
    background-color: #fff;
    box-shadow: 0px 20px 48px rgba(0, 0, 0, 0.06);
    border-radius: 24px;
    padding: 70px 20px 25px 20px;
    z-index: 2; }
  .review-1::before {
    content: "";
    position: absolute;
    background-image: url(../img/testimonials-section/ebalo-1.png);
    height: 74px;
    width: 74px;
    right: 50%;
    top: -20px;
    transform: translateX(50%); }
  .review-1::after {
    content: "\201c";
    font-size: 250px;
    font-family: sans-serif;
    color: #eff0f3;
    position: absolute;
    bottom: -10px;
    right: 20px;
    transform: rotate(-180deg);
    z-index: -1; }
  .review-2 {
    margin-top: 50px;
    margin-bottom: 200px;
    position: relative;
    width: 320px;
    height: auto;
    padding: 70px 20px 25px 20px;
    background-color: #fff;
    border-radius: 24px;
    box-shadow: 0px 20px 48px rgba(0, 0, 0, 0.06);
    z-index: 2; }
  .review-2::before {
    content: "";
    position: absolute;
    background-image: url(../img/testimonials-section/ebalo-2.png);
    width: 74px;
    height: 74px;
    top: -20px;
    right: 50%;
    transform: translateX(50%); }
  .review-2::after {
    content: "\201c";
    font-size: 250px;
    font-family: sans-serif;
    color: #eff0f3;
    position: absolute;
    bottom: -10px;
    right: 20px;
    transform: rotate(-180deg);
    z-index: -1; }
  .reviewa__comment {
    max-width: 280px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 160%;
    /* or 29px */
    text-align: center;
    /* Black */
    color: #262B35;
    z-index: 3; }
  .reviews__heading-4 {
    margin-top: 42px;
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 150%;
    /* identical to box height, or 27px */
    text-align: center;
    /* Black */
    color: #262B35;
    z-index: 3; }
  .reviews__job {
    margin-top: 11px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 150%;
    /* identical to box height, or 22px */
    text-align: center;
    /* Dark Grey */
    color: #606C84;
    z-index: 3; }
  /* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////CONTACT-SECTION////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
  .contact .container {
    display: flex;
    flex-direction: column;
    margin-top: 182px;
    height: auto;
    align-items: center;
    text-align: center; }
  .contact__left-side {
    flex-basis: 100%; }
  .contact__left-right {
    flex-basis: 100%; }
  .contact__heading-2 {
    max-width: 320px;
    margin: 17px auto;
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 140%;
    /* or 45px */
    text-align: center;
    letter-spacing: -0.02em;
    /* Black */
    color: #262B35; }
  .contact__illustration {
    margin-top: 88px;
    width: 100%;
    padding: 20px; }
  .illustration__img {
    width: 100%; }
  .form {
    max-width: 440px;
    width: 100%;
    padding: 25px 30px; }
  .form form {
    display: flex;
    flex-wrap: wrap; }
  input,
  select {
    padding: 10px 20px;
    width: 320px;
    height: 44px;
    border-radius: 4px;
    outline: none;
    border: 1px solid #ccc; }
  .input-box {
    margin: 16px; }
  .input-box .label {
    text-align: start;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    /* Solid Black */
    color: #262B35; }
  #message {
    height: 96px;
    padding: 0 2rem; }
  .contact__btn--green {
    padding: 11.5px 131px;
    background-color: #1ECE7A;
    border: none;
    outline: none;
    border-radius: 3px;
    color: #fff; }
  /* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////FOOTER-SECTION////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
  .footer .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; }
  .col {
    margin: 0; }
  .footer__heading-5 {
    margin-top: 30px;
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 150%;
    /* or 30px */
    /* Solid Black */
    color: #262B35; }
  .col-1 {
    max-width: 320px;
    height: 360px;
    margin: 0 auto; }
  .col-1__p {
    max-width: 360px;
    font-family: Inter;
    font-style: normal;
    font-size: 15px;
    line-height: 150%;
    /* or 30px */
    /* Solid Black */
    color: #262B35; }
  .col-2 {
    max-width: 240px;
    max-height: 360px; }
  .col-3 {
    max-width: 220px;
    max-height: 247px; }
  .footer__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px; }
  .footer__item {
    width: 100%;
    margin: 10px; }
  .footer__list .footer__item .footer__link {
    text-decoration: none;
    font-family: Inter;
    list-style: none;
    color: #606C84;
    transition: all 0.2s;
    display: flex;
    align-items: center;
    display: inline-block; }
  .facebook {
    position: relative; }
  .footer__social {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 110px;
    margin-top: 20px; }
  .social__item {
    display: flex;
    align-items: center;
    /* flex-direction: column; */
    /* position: relative; */ }
  .social__item::before {
    display: block;
    content: "";
    background-image: url(../img/footer-section/ico-fb.svg);
    background-repeat: no-repeat;
    /* position: absolute; */
    width: 30px;
    height: 27px;
    /* top: 50%;
    left: 0; */
    /* transform: translateY(-50%); */
    margin-right: 20px; }
  .social__item:nth-child(2)::before {
    background-image: url(../img/footer-section/ic-twitter.svg); }
  .social__item:nth-child(3)::before {
    background-image: url(../img/footer-section/ic-instagram.svg); }
  .facebook {
    display: block; }
  /* 
.facebook,
.twitter,
.instagram {
    margin-left: 40px;
    display: block;
} */
  .copyright {
    margin-top: 100px;
    margin-bottom: 30px;
    text-align: center;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 150%;
    /* identical to box height, or 30px */
    /* Gray */
    color: #606C84; } }
